{% extends 'base.html' %}

{% block titulo %}Cadastro |{% endblock %}

{% block conteudo %}
<div class="text-center col-md-6 container text-light" style="background-color: #131029; border-radius: 25px; box-shadow: 10px 10px 10px 5px black">
<h1 class="d-flex justify-content-center">Cadastro</h1>

<form method="POST" class="col-md-6 offset-md-3" action="{% url 'cadastro' %}">
    {% include 'parciais/_messages.html' %}
    {% csrf_token %}
  <div class="form-group">
  <div class="form-group">
    <label>Nome</label>
    <input type="text" name="nome" value="{{ request.POST.nome }}" class="form-control">
  </div>
  <div class="form-group">
    <label>Sobrenome</label>
    <input type="text" name="sobrenome" value="{{ request.POST.sobrenome }}" class="form-control">
  </div>
    <label>Email</label>
    <input type="email" name="email" value="{{ request.POST.email }}" class="form-control">
  </div>
  <div class="form-group">
    <label>Usuário</label>
    <input type="text" name="usuario" value="{{ request.POST.usuario }}" class="form-control">
  </div>
  <div class="form-group">
    <label>Senha</label>
    <input type="password" name="senha" class="form-control">
  </div>
  <div class="form-group">
    <label>Repetir a Senha</label>
    <input type="password" name="senha2" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Cadastrar-me</button>
</form>
  <br>
  <h6 class="col text-center">Voltar para a <a href="{{ '/' }}" class="text-info">Tela Inicial</a></h6>
  <br>
</div>
{% endblock %}