{% if 'accounts' not in request.path %}
{% load static %}
<br><br><br><br>
<!--_footer.html-->
<footer class="text-light fixed-bottom"  style="background-color: #131029">
    <div class="container navbar-dark pt-2 mt-2">
        <div class="row">
            <div class="col">
                <p class="text-left">Desenvolvido em Django</p>
            </div>
            <div class="col">
                <p class="text-right">Mogi-Mirim PJI4 Sala-001 Grupo-001</p>
            </div>
        </div>
    </div>
</footer>
<!--/_footer.html-->

<script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% endif %}